{
    "tables": [
        {
          "columnNames": [
            "CIDRRange"
          ],
          "name": "feature__easyL4FirewallBlacklist",
          "rows": []
        },
        {
          "columnNames": [
            "CIDRRange"
          ],
          "name": "feature__easyL4FirewallSourceList",
          "rows": [
            {
              "row": [
                "0.0.0.0/0"
              ]
            }
          ]
        },
        {
            "columnNames": [
                "Index",
                "Name",
                "Type",
                "Options"
            ],
            "name": "monitor__Monitors",
            "rows": [
                {
                    "row": [
                        "0",
                        "/Common/http",
                        "none",
                        "none"
                    ]
                }
            ]
        },
        {
            "columnNames": [
                "Index",
                "IPAddress",
                "Port",
                "ConnectionLimit",
                "Ratio",
                "PriorityGroup",
                "State",
                "AdvOptions"
            ],
            "name": "pool__Members",
            "rows": [
                {
                    "row": [
                        "0",
                        "{{node_fqdn}}",
                        "80",
                        "0",
                        "1",
                        "0",
                        "enabled",
                        "none"
                    ]
                }

            ]
        },
        {
            "columnNames": [
                "Index",
                "Name",
                "Description",
                "LbMethod",
                "Monitor",
                "AdvOptions"
            ],
            "name": "pool__Pools",
            "rows": [
                {
                    "row": [
                        "0",
                        "",
                        "",
                        "round-robin",
                        "0",
                        "none"
                    ]
                }
            ]
        }
    ],
    "variables": [
        {
            "encrypted": "no",
            "name": "feature__easyL4Firewall",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "feature__insertXForwardedFor",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "feature__redirectToHTTPS",
            "value": "disable"
        },
        {
            "encrypted": "no",
            "name": "feature__securityEnableHSTS",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "feature__sslEasyCipher",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "feature__statsHTTP",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "feature__statsTLS",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "iapp__apmDeployMode",
            "value": "preserve-bypass"
        },
        {
            "encrypted": "no",
            "name": "iapp__appStats",
            "value": "enabled"
        },
        {
            "encrypted": "no",
            "name": "iapp__asmDeployMode",
            "value": "redeploy-block"
        },
        {
            "encrypted": "no",
            "name": "iapp__logLevel",
            "value": "5"
        },
        {
            "encrypted": "no",
            "name": "iapp__mode",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "iapp__routeDomain",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "iapp__strictUpdates",
            "value": "enabled"
        },
        {
            "encrypted": "no",
            "name": "l7policy__defaultASM",
            "value": "bypass"
        },
        {
            "encrypted": "no",
            "name": "l7policy__defaultL7DOS",
            "value": "bypass"
        },
        {
            "encrypted": "no",
            "name": "l7policy__strategy",
            "value": "/Common/first-match"
        },
        {
            "encrypted": "no",
            "name": "pool__DefaultPoolIndex",
            "value": "0"
        },
        {
            "encrypted": "no",
            "name": "pool__MemberDefaultPort",
            "value": "80"
        },
        {
            "encrypted": "no",
            "name": "pool__addr",
            "value": "{{ vs_address }}"
        },
        {
            "encrypted": "no",
            "name": "pool__mask",
            "value": "0.0.0.0"
        },
        {
            "encrypted": "no",
            "name": "pool__port",
            "value": "{{vs_port}}"
        },
        {
            "encrypted": "no",
            "name": "vs__ConnectionLimit",
            "value": "0"
        },
        {
            "encrypted": "no",
            "name": "vs__Description",
            "value": "Standard HTTP Virtual Server"
        },
        {
            "encrypted": "no",
            "name": "vs__IpProtocol",
            "value": "tcp"
        },
        {
            "encrypted": "no",
            "name": "vs__Name",
            "value": "{{ service_name }}"
        },
        {
            "encrypted": "no",
            "name": "vs__OptionConnectionMirroring",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "vs__OptionSourcePort",
            "value": "preserve"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientProtocol",
            "value": "/Common/tcp-wan-optimized"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileCompression",
            "value": "/Common/httpcompression"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileDefaultPersist",
            "value": "/Common/cookie"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileHTTP",
            "value": "/Common/http"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileSecurityIPBlacklist",
            "value": "none"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileServerProtocol",
            "value": "/Common/tcp-lan-optimized"
        },
        {
            "encrypted": "no",
            "name": "vs__RouteAdv",
            "value": "always"
        },
        {
            "encrypted": "no",
            "name": "vs__SNATConfig",
            "value": "automap"
        },
        {
            "encrypted": "no",
            "name": "vs__SourceAddress",
            "value": "0.0.0.0/0"
        },
        {
            "name": "vs__AdvOptions",
            "encrypted": "no",
            "value": "translate-address=enabled"
        },
        {
            "name": "vs__ProfileRequestLogging",
            "encrypted": "no",
            "value": "/Common/request-log"
        },
        {
            "name": "vs__ProfileSecurityLogProfiles",
            "encrypted": "no",
            "value": "/{{partition}}/{{logging_profile_name}}"
        },
        {
            "name": "vs__AdvProfiles",
            "encrypted": "no",
            "value": "websecurity"
        },
        {
            "name": "vs__AdvPolicies",
            "encrypted": "no",
            "value": "{{ service_name }}_ltm_policy"
        }

    ]
}